.header {
  background-color: rgb(22, 124, 244);
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 40px;
  font-weight: 700;
  color: white;

}

.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__link {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}