* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 40px !important;
  font-weight: 700;
  color: #ffffff;
  width: 80px;
}

.navbar__nav {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 10px; 
  
  
}

.navbar__link {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__link:hover {
  color: #cccccc;
}

.navbar__link:active {
  color: #cc512b;
}

