.product-section {
    margin-top: 20px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .product-section .MuiCardActions-root {
    display: flex;
    align-items: center;
  }
  
  .product-section .MuiCardActions-root > * {
    margin-right: 5px;
  }